h2{
    color: blueviolet;
    border: 20px;
    
    
        }
    
        #grid{
    
        display: grid;
        grid-template-columns: 150px 1fr;
        }
        
       #grid ol{
            padding-left: 33px;
            border-right: gray solid ;
            margin-top: 0;
            padding: 30px;
    
        }
    #article{
            padding: 30px;
            font-size: 18px;
            
        }
        @media(max-width:800px){
    #grid{
    
      display: block;
    }
    #grid ol{
       
        border-right:none;
    }
    
    h1{
        border-bottom: none;
    }
    }  
    a {
        color: black;
        text-decoration: none;
    }

    h1 {
        font-size: 45px;
        text-align:center ;
        border-bottom: grey solid ;
        margin-bottom: 0;
        padding: 30px;
    }